*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Times New Roman', Times, serif;
}
.background{
	background-image:url(img/pexels-pixabay-45842.jpg);
     height: 100vh;
	 background-size: cover;
	 background-position: center;
	position: relative;

}

.h1{
    text-align: center;
	margin-top: 180px;
	margin-left: 400px;
	font-size: 3.5rem;
	color:rgb(31, 22, 21);
	position: absolute;
}
.p-tag{
	width: 650px;
	text-align: center;
	margin-top: 330px;
	margin-left:350px ;
	position: absolute;
	font-size: 20px;
	color: white;
}
.Anchor-tag{
	background-image: linear-gradient(red ,tomato);
	padding: 15px;
	position: absolute;
	text-align: center;
	margin-left: 600px;
	margin-top: 420px;
	text-decoration: none;
	font-size: 18px;
	color:white;
	border-radius: 5px;
}
.Donate{
	text-align: center;
	font-size:2.5rem;
	margin-top: 100px;
}
.donate-p{
	text-align: center;
	font-size: 18px;
	width: 700px;
	margin-left: 320px;
	margin-top: 40px;
}
.full-content{
display: flex;
margin-left: 200px;
margin-top: 40px;
}
.helf-content{
	font-size: 2rem;
	padding: 30px;

}
#k{
	background-color: tomato;
	border: 2px solid red;
	padding: 30px;
	border-radius: 5px;
	
}
#All-k{
	background-color:#f7f1f1;
	border: 2px solid #cccccc;
	padding: 30px;
	border-radius: 5px;
}

.other-amount{
	text-align: center;
	margin-top: 50px;
	color:#cccccc

}
.hr{
	width: 600px;
	margin-left: 350px;

}
.anchor-tag1{
	background-image: linear-gradient(red ,tomato);
	padding: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	color:white;
	border-radius: 5px;
	margin-left: 600px;
}
.container-all{
	display: flex;
}
.card-width{
	width: 40%;
	margin-left: 3%;
	margin-right: 3%;
	text-align: justify;
	background-color: #ebd7bd;
	margin-top: 50px;
	padding-left: 20px;
	padding: 30px;
	border-radius: 10px;
	box-shadow:10px 10px 50px #ebd7bd;
}
.icon{
	font-size: 2rem;
	margin-bottom: 20px;
}
.icon-p{
	margin-top: 20px;
}
#card-w{
	background-color: #09dcdc;
	box-shadow:10px 10px 40px #09dcdc;
	
}
.content-all{
	display: flex;
	margin-top: 150px;
}
.content-helf{
	width: 50%;
	margin-left: 5%;
	margin-right: 5%;


}
#h1-id{
	font-size: 2.5rem;
	margin-bottom: 20px;
}
#id-p{
	font-size: 17px;
	text-align: justify;
}
.donate-img{
	width:450px;
	border-radius: 10px;
}
.donate-img1{
	width:450px;
	height: 400px;
	border-radius: 10px;
}
.anchor-tag2{
	background-image: linear-gradient(red ,tomato);
	padding: 12px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	color:white;
	border-radius: 5px;
	margin-top: 20px;
}